@charset "UTF-8";
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');

/*초기화*/
* { margin:0; padding:0;box-sizing: border-box; }
li { list-style:none; }
a { text-decoration:none; }
img { border:0; vertical-align:bottom; }
body { font-family:'NanumSquare', Helvetica, sans-serif; box-sizing: border-box;  }



header { position:fixed; top:0; left:0; width:100%; background:#f2f3f7b9;  height:80px; bottom: 0; z-index: 1000;}

header #nav {float: right; margin-right:200px; border-bottom: 3px solid #7f93de ;   }
header #nav li { display: inline-block; margin: auto;  padding:0 15px; line-height:80px ;   }
header #nav a { color:#7f93de; font-size:19px; font-family: 'NanumSquare', sans-serif; text-shadow:0px 2px 2px rgb(172, 172, 172); font-weight: bold; }

header #nav a:hover {color:#4061d6; transition: 0.2s;}


section { height:100vh; margin: auto;  } /*섹션의 세로길이는 브라우저 세로길이와 딱 맞게된다*/


#section01 {position: relative; }
#section01 h1 { float: right ;font-family: 'Numans', sans-serif; color:#4061d6;font-size: 4vw; letter-spacing: 3px; 
    text-shadow:0px 5px 5px rgba(0, 0, 0, 0.137);  top:300px; margin-top: 300px;  margin-right:200px ;
    font-style: italic; text-align: right; font-weight: bold;
    border-bottom: 3px solid rgba(255, 255, 255, 0.103);} 
.name {font-size: 6vw;}
.b_2 {position: absolute; width: 100%; top:15%; right: 0;  height: 4px; background-color: #7f93de;}
.b_ {position: absolute; width: 100%; bottom:15%; right: 0;  height: 4px; background-color: #7f93de;} 
.b0 {position: absolute;right: 40%; top:-4%; width: 100%; height: 3px; background-color: #7f93de; z-index: 9999; transform: rotate(90deg);}

#section02 {position:relative; }
 h2 { }


.m_img {position: absolute;top:9%; left: 20%; z-index: 1; margin: 0 auto;}
.m_img img { height:180px;}
.p_inner {position: relative; top:20%; margin: 0 auto; width: 1000px; height: 600px; border-radius: 40px;background-color:  #7f93de; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);  }
.img2 {position: absolute;display: block; width: 180px; top:25%; left: 10%;   border-radius: 20%; z-index:5;  } 



.bar1 { position: absolute; border:2px solid #f2f3f7; top:10% ; width: 100%;overflow: hidden; }
.bar2 {position: absolute; border:2px solid #f2f3f7; bottom:10% ; width: 100%; overflow: hidden; }


.p_txt2 { position:absolute; top:13%; right:10% ;  margin:0 20px;}
   /* rgb(247, 238, 203)*/
 

.p_txt2 ul {}
.p_txt2 ul li { margin: 20px 10px; padding: 8px; }
.p_txt2 ul li a {color: rgb(255, 255, 255); font-size: 14px;  } 
.sk {font-weight: bold; font-size: 20px;}

.btnDown { float: right; margin: 10px; display: block; border-radius: 20%; width: 50px; height: 40px; background-color: #c0c3cf; }
.btnDown a {font-size: 13px; color: #fff;}

#section03 {position: relative;}
#section03 h3 {font-size: 40px; font-weight: bold;text-shadow:0px 3px 3px rgb(212, 212, 212);  } /* #section04 h1 {font-size: 10vw;} : viewport width:뷰포트 너비를 100으로 두고 설정*/
.sec_txt03 { position: absolute; top:200px; left: 14%; padding: 50px 10px;  }
.sec_txt03 p {margin: 30px 0 0; font-size: 20px; }

.banner_03 img {float: right; width: 600px; margin-top: 200px; margin-right: 200px;  }
.banner_03 img:hover {transition: 0.3s; transform:scale(1.1);}


.v_s {margin-top:50px; width: 250px; height: 40px; background-color: #4061d6;border-radius: 50px; }
.v_s a {color: white; font-size: 18px;}
.v_s:hover {background-color:#f2f3f7; border: 1px solid #4061d6;}
.v_s:hover a {color: #4061d6;} 


#section04 {position: relative;}
#section04 h3 {font-size: 40px; font-weight: bold ;text-shadow:0px 3px 3px rgb(212, 212, 212);}
.sec_txt04 {position: absolute;  top:200px; right: 13%;  padding: 50px 10px;    }
.sec_txt04 p {margin: 30px 0 0; font-size: 20px; }
.banner_04 img {float: left; width: 600px;  margin-top: 200px; margin-left: 200px;  }
.banner_04 img:hover {transition: 0.3s; transform:scale(1.1);}




#section05  { position: relative;}
#section05 h3 {font-size: 40px; font-weight: bold;text-shadow:0px 3px 3px rgb(212, 212, 212); top:150px;  }/*rem-최상위 요소,html 요소 기준으로 몇배인지 정함*/
#section05 img {float: right; width: 800px;  margin-top: 200px;  margin-right:200px; }
.banner_05 img:hover {transition: 0.3s; transform:scale(1.1);}
.sec_txt05 {float:left; position: relative; top:200px;  margin-left: 200px;  padding: 50px 10px;  }
.sec_txt05 p { margin: 30px 0 0; font-size: 20px; }



#section06 {position: relative;}
#section06 h3 {font-size: 40px; font-weight: bold ;text-shadow:0px 3px 3px rgb(212, 212, 212);}
.sec_txt06 {position: absolute;  top:200px; right: 13%;  padding: 50px 10px;    }
.sec_txt06 p {margin: 30px 0 0; font-size: 20px; }
.banner_06 img {float:left; width: 800px;  margin-top: 200px; margin-left: 200px;  }
.banner_06 img:hover {transition: 0.3s; transform:scale(1.1);}




#section07 {position: relative;}
  .sec_txt07 {float: right; width: 300px;   margin: 200px 200px 100px 0; padding: 3px 0 3px;   }
  .sec_txt07 p { margin: 30px 0 0; font-size: 20px; }
#section07 h3 {  font-size: 45px; font-weight: bold; left: 100px; text-shadow:0px 3px 3px rgb(212, 212, 212);  } 
.banner_07 img {position: absolute; width: 800px;  top:200px; margin-left: 200px;  } 
.banner_07 img:hover {transition: 0.3s; transform:scale(1.1);} 

.topBtn{position: absolute; right: 13%; bottom: 15%; width: 50px;  background-color:#c0c3cf; border-radius: 5px; padding: 5px;text-align: center;  }
.topBtn a {color: #fff;font-size: 14px;line-height: 25px; }




#section01 { background:#f2f3f7; }
#section02 { background:#f2f3f7;}
#section03 { background:#f2f3f7;}
#section04 { background:#f2f3f7;}
#section05 { background:#f2f3f7; }
#section06 { background:#f2f3f7;}
#section07 { background:#f2f3f7;}


footer {background-color: #7f93de; height: 50px; bottom: 0; right: 0;left: 0;}



/* 화면 너비가 1440px 보다 작을때 */
@media (max-width:1440px){  

 

  header #nav {float: right; margin-right:200px; border-bottom: 3px solid #7f93de ;   }
  header #nav li { display: inline-block; margin: auto;  padding:0 15px; line-height:80px ;   }
  header #nav a { color:#7f93de; font-size:19px; font-family: 'NanumSquare', sans-serif; text-shadow:0px 2px 2px rgb(172, 172, 172); font-weight: bold; }
  
 
 
 .m_img {position: absolute; top:9%; left: 15%; z-index: 1; margin: 0 auto;}
 .m_img img { height:150px;}
 .p_inner {position: relative; top:20%; margin: 0 auto; width: 1000px; height: 550px; }
 .img2 { width: 150px;  } 
 
 
 .bar1 { position: absolute; border:2px solid #f2f3f7; top:10% ; width: 100%;overflow: hidden; }
 .bar2 {position: absolute; border:2px solid #f2f3f7; bottom:10% ; width: 100%; overflow: hidden; }
 
 .p_txt2 ul li { padding: 5px; }
 /*맨밑기술*/
 .sk {font-weight: bold; font-size: 20px;}
 
 .btnDown { float: right; margin: 10px; display: block; border-radius: 5%; width: 50px; height: 30px;}
 

 #section03 h3 {font-size: 35px;  } /* #section04 h1 {font-size: 10vw;} : viewport width:뷰포트 너비를 100으로 두고 설정*/
 .sec_txt03 p {font-size: 18px; }
 .banner_03 img { width: 500px;}
 
 
 
 #section04 h3 {font-size: 35px; }
 .sec_txt04 p {margin: 30px 0 0; font-size: 18px; }
 .banner_04 img {width: 500px; }

 
 
 #section05 h3 {font-size: 30px; top:150px;  }/*rem-최상위 요소,html 요소 기준으로 몇배인지 정함*/
 #section05 img { width: 600px;}
 
 .sec_txt05 {float:right; position: relative; top:200px;  margin-right: 200px;  padding: 50px 10px;  }
 .sec_txt05 p { margin: 30px 0 0; font-size: 18px; }
 
 
 #section06 {position: relative;}
  .sec_txt06 {float: right; width: 300px;margin-right: 200px; padding: 3px 0 3px;   }
  .sec_txt06 p { font-size: 18px; }
#section06 h3 {  font-size: 30px;  } 
.banner_06 img {width:650px;  top:200px; margin-left: 200px;  } 


 
 .sec_txt07 {float: right; width: 300px;   margin: 200px 200px 100px 0; padding: 3px 0 3px;   }
 .sec_txt07 p { font-size: 18px; }
 #section07 h3 {  font-size: 30px; } 
 .banner_07 img { width: 650px; top:200px; margin-left: 200px;  } 

 
 .topBtn{width: 40px;}
 .topBtn a {font-size: 13px;line-height: 20px; }
  

}

/* 화면 너비가 1025px보다 작을때 */
@media (max-width:1024px){

}
/*************************************************모바일 ***********************************************************/
@media  (max-width:768px){
 
section { height:100vh; margin: auto;  } /*섹션의 세로길이는 브라우저 세로길이와 딱 맞게된다*/   
body {width: 100%; overflow-x: hidden;} 
 
header { position:fixed; top:0; left:0; width:100%; background:#f2f3f7b9;  height:30px; bottom: 0; z-index: 1000;}

 header #nav { margin-right:20px ; border-bottom: none; }
 header #nav li {  margin: auto;  padding:0 5px; line-height:80px ;   }
 header #nav a {  font-size:15px; }
 .b_2 {height: 3px; }
 .b_ {height: 3px; }

 #section01 h1  {float: right; margin-right:20px ;  } 
 

.m_img {position: absolute; top:15%;  z-index: 1; margin: 0 auto;}
.m_img img { height:80px;}
.p_inner {position: relative; top:20%; margin: 0 auto; width: 100%; height: 500px;   }
.img2 {position: absolute; width: 80px; top:10%; left: 43%;  border-radius: 20%; z-index:2;  } 

.bar1 { position: absolute; border:2px solid #f2f3f7; top:6% ; width: 100%;overflow: hidden; }
.bar2 {position: absolute; border:2px solid #f2f3f7; bottom:6% ; width: 100%; overflow: hidden; }

.p_txt2 { position:absolute; top:35%; margin:0 auto;  }
  
 
.p_txt2 ul li { margin: 5px 5px; padding: 4px; }
.p_txt2 ul li a {font-size: 11px;  } 
.sk { font-size: 10px;}

.btnDown { float: right;  display: block; border-radius: 20%; width: 30px; height: 30px; background-color: #c0c3cf; }
.btnDown a {font-size: 10px; color: #fff;line-height: 30px;}


#section03 h3 {font-size: 20px;  } /* #section04 h1 {font-size: 10vw;} : viewport width:뷰포트 너비를 100으로 두고 설정*/
.sec_txt03 { position: absolute; top:20%; left: 14%;  padding: 0 10px;  }
.sec_txt03 p {margin: 30px 0 0; font-size: 10px; }
.banner_03 img {position: absolute; width: 300px; left: 30%; top:15%;   }

.v_s {margin-top:20px; width:100px; height: 20px; background-color: #4061d6;border-radius: 50px;line-height: 5px;   }
.v_s a {color: white; font-size: 13px;}
.v_s:hover {background-color:#f2f3f7; border: 1px solid #4061d6;}
.v_s:hover a {color: #4061d6;} 



#section04 h3 {font-size: 20px;}
.sec_txt04 {position: absolute;  top:20%; right: 14%;  padding: 0px 10px;   }
.sec_txt04 p {margin: 30px 0 0; font-size: 10px; }
.banner_04 img {position: absolute; width: 300px; right: 30%; top:15%;  }



#section05 h3 {font-size: 20px;  top:150px;  }

.sec_txt05 {position: absolute; top:20%; left: 14%; padding:0 10px;}
.sec_txt05 p { margin: 30px 0 0; font-size: 10px; }
#section05 img {position: absolute;width: 300px; left:20%; top:18%;  }

#section06 h3 { font-size: 20px; top:150px; } 
.sec_txt06 {position: absolute; top:20%; left: 14%; padding:0 10px;  }
.sec_txt06 p { margin: 30px 0 0; font-size: 10px; }
.banner_06 img {position: absolute;width: 300px; right:20%; top:15%;  } 




#section07 {position: relative;}
  .sec_txt07 {position: absolute; left: 14%;   padding: 0 10px;   }
  .sec_txt07 p { margin: 30px 0 0; font-size: 10px; }
#section07 h3 {  font-size: 20px;top:150px;    } 
.banner_07 img {position: absolute; width: 300px; top:50%; right: 20%; } 


.topBtn{right: 5%; bottom: 14.5%; width: 30px; height: 30px;  background-color:#c0c3cf; border-radius: 5px; text-align: center;  }
.topBtn a {color: #fff;font-size: 12px;line-height: 15px; }












}